body {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: #FFF;
}

.section-h2 {
  font-size: 45px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.styled-hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  height: 1px;
  margin: 70px auto 70px auto;
  width: 60%;
}

/* TITLE */
.title-section {
  background: url('https://i.imgur.com/CzARdQ2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title-text {
  color: #FFF;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 200px;
  padding-top: 150px;
}

.title-h1 {
  font-size: 60px;
}

.title-h2 {
  font-size: 40px;
}

/* PROFILE */
.profile-section {
  background-color: #FFF;
  /* background-color: rgba(50,150,50,0.4); */
  height: 60vh;
}

/* PROJECTS */
.projects-section {
  background-color: #000;
  color: #FFF;
  height: 230vh;
}

.project-h2 {
  font-size: 45px;
  padding-bottom: 70px;
  padding-top: 30px;
  text-align: center;
}

.project-container {
  /* margin-bottom: 80px; */
}

.project-image {
  border: 2px solid #FFF;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  height: 15%;
  width: 15%;
}

.project-h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.group-project {
  color: #FFF;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.made-with {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 20px 0 0;
}

.project-link-heroku {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 20px 0 0;
}

.project-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

/* SKILLS */
.skills-section {
  height: 70vh;
}

.skills-icons {
  font-size: 90px;
}

.skills-icons-container {
  margin: 0 auto;
  width: 70%;
}

/* CONTACT */
.contact-section {
  background-color: #000;
  color: #FFF;
  height: 26vh;
}

.contact-icons {
  font-size: 70px;
}

.contact-icons-container {
  margin: -20px auto;
  text-align: center;
  width: 30%;
}
